@import "tailwindcss";

:root {
  --background: #050505;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-omen-red: #CC0022;
  --color-omen-bright: #FF3C00;
  --color-omen-blue: #00A8FF;
  --color-omen-darkbg: #0A0A0C;
}

body {
  background: var(--background);
  color: var(--foreground);
  overflow-x: hidden;
}

::selection {
  background: var(--color-omen-red);
  color: white;
}
